<div class="container">
<div class="row">
	<div class="col-md-6">
		<h1> About <span class="dirtyDishFont">Dirty Dishes</span></h1>
		<p><span class="dirtyDishFont">Dirty Dishes</span> gives you a quick, simple picture of a restaurant's food inspection score and what others thought of the restaurant so you can make a more informed decision on where you're about to eat. Based on the inspection score, I assigned each restaurant a letter grade: 0-20 points = A, 21-45 points = B, 46-60 = C, and 60+ = F. Keep in mind that inspection reports are snapshots of the food handling at the establishment at the time of inspection – conditions may be different when you visit. Check out the<a href="http://www.doh.wa.gov/CommunityandEnvironment/Food/RestaurantInspections"> Washington State Department of Health</a> for more information.
		</p>
	</div>
</div> <!-- closes row div -->
<hr>
<div class="row">
	<div class="col-md-6">
		<h1>The Creator</h1>
		<p>My name is Adriane. I am a web developer based in Seattle, WA. I built this app using a MEAN stack (MongoDB, Express, Angular and Node), bootstrap, and the Food Establishment Inspection Data API. I wanted to create this app because I would like to see a letter grading system for restaurants established in Seattle. </p>
	</div>

	<div class="col-md-6">
		<img src="app/images/amp.png" class="img img-responsive circle">
	</div>
</div> <!-- closes row div -->

<div class="page-header">
	<h1><small>Connect with me</small></h1>
	<p><a href="https://www.linkedin.com/in/adrianepurdy">LinkedIn</a> | <a href="https://www.github.com/adriane26">GitHub</a> | <a href="http://adrianepurdy.com">Portfolio</a></p>
</div>
</div> <!-- closes page container -->
