<!-- landing.html -->

<!-- <button><a href="/#!/about">About Page</a></button> -->
<h1> you have landed </h1>

<h2>Did your restaurant pass inspection?</h2>
<div class="container" ng-controller="MainCtrl">
	<form class="form" ng-submit="search()">
  		<div class="form-group">
    		<label>Let's find out:</label>
    		<input type="text" class="form-control" ng-model="searchTerm" placeholder="ex. bluwater bistro">
    		<input type="submit" class="btn btn-primary">
  		</div>
	</form>
  <div ng-if="restaurants.length != 0" class="well" ng-repeat="restaurant in restaurants">
  <h2> 
    <a ng-href="/restaurants/{{restaurant.id}}">
          {{restaurant.name}} - {{restaurant.address}}
    </a>
  </h2>
</div>
</div>
