
<div class="container">

<div class="page-header text-center">
<h1 class="dirtyDishFont">Dirty Dishes</h1>
<h2>Did your restaurant pass inspection?</h2>
</div>

	<form class="form" ng-submit="search()">
  		<div class="form-group">
    		<label>Let's find out:</label>
    		<input type="text" class="form-control" ng-model="searchTerm" placeholder="Search by restaurant name, city, or address">
    		<input type="submit" class="btn btn-primary">
  		</div>
	</form>

  <div ng-if="restaurants.length != 0" class="well well-sm" ng-repeat="restaurant in restaurants">
  <h2>
    <a ng-href="/restaurant/{{restaurant.business_id}}" ng-click="saveFoodPlace(restaurant)">
          {{restaurant.name}}</a> -<small> {{restaurant.address}} | {{restaurant.city}} <br>inspected on {{restaurant.inspection_date | date : format : short}}</small>
  </h2>
</div> <!-- closes ng-repeat div -->
</div> <!-- closes mainCtrl, -->
