<!-- showGrade.html -->
<div class="container">
<!-- <h1> showGrade.html <small>let's put some info about the restaurant and then use a custom directive or filter to display a letter grade for the restaurant </small> </h1> -->

<h2>{{business[0].name}} <h2>total violation points on {{business[0].inspection_date |date : format : short}} &rarr; {{business[0].inspection_score}}</h2>
</div>

<div>
	<h1> Your rating is ... </h1>
	<h1 id="grade">{{business[0].inspection_score | graded}}<h1>
</div>

<div> 
	<h3>Do you think this place is a Dirty Dish? </h3>
	<form>
  		<input type="radio" name="voteClick" ng-change="changeChoice(yesVote)" value="yes" ng-model="yesVote">Yes<br>
  		<input type="radio" name="voteClick" ng-change="changeChoice(noVote)" value="no" ng-model="noVote">No<br>
  		<input type="submit" class="btn btn-primary" ng-click="addVotes();isDisplayed = !isDisplayed">
	</form>
</div>

<!-- the vote count will display upon the vote submit click -->
<div ng-show="isDisplayed">
	<h3>Yes: {{vote.yes_count}}</h3>
	<h3>No: {{vote.no_count}} </h3>
</div>